<footer class="bg-higiene-oscuro flex">
    <a href="https://www.instagram.com/hampi_yura/"
        ><i class="fab fa-instagram"></i
    ></a>

    <a href="/"
        ><img class="logo-hy" src="/images/logo1.png" alt="Logo Hampi Yura"
    /></a>

    <p class="tx-blanco">Más</p>
</footer>
