<footer class="bg-higiene-oscuro">
<div id="footer_container" class="flex justify-between">

    <div id="empresa">
        <b class="tx-blanco ">Empresa</b>
        <br>
        <p class="tx-blanco ">Nuestra filosofía</p>
        <p class="tx-blanco ">Contacto</p>
        <p class="tx-blanco ">Preguntas frecuentes</p>
    </div>

    <div id="legal">
        <b class="tx-blanco ">Legal</b>
        <br>
        <p class="tx-blanco ">Términos y condiciones</p>
        <p class="tx-blanco ">Aviso legal</p>
        <p class="tx-blanco ">Política de privacidad</p>
    </div>

    <div id="about">
        <p class="tx-blanco ">Vendemos una amplia gama de productos naturales
            cuidadosamente creados para vos.</p>

        <a href="https://www.instagram.com/hampi_yura/">
            <i class="fab fa-instagram"></i>
        </a>
    </div>

</div>    
<!--
    <a href="/"
        ><img class="logo-hy" src="/images/logo1.png" alt="Logo Hampi Yura"
    /></a>
-->

    
</footer>
