<!DOCTYPE html>
<html lang="en">
  <!--Acá va el head-->

  <%- include ("./partials/head.ejs") %>

  <body class="body">
    <!--Acá va el header-->

    <%- include ("./partials/header.ejs") %>

    <main id="main-content">

    <!--Sección 3 secciones: productos, fitoterapia, filosofia-->
      <section class="margin-top-16">
        <div class="selec-flex">
          <div class="selec-wrapper">
            <a href="/products">
              <img
                class="secciones"
                src="/images/productos.png"
                alt="Descubre los productos Hampi Yura"
                width="100%"
              />
            </a>
          </div>
          <div class="selec-wrapper">
            <a href="/fitoterapia">
              <img
                class="secciones"
                src="/images/fito.png"
                alt="Fitoterapia"
                width="100%"
              />
            </a>
          </div>
          <div class="selec-wrapper">
            <a href="/infoplantas">
              <img
                class="secciones"
                src="/images/infoplantas.png"
                alt="Descubre las propiedades de las plantas que usamos"
                width="100%"
              />
            </a>
          </div>
        </div>
      </section>

<section class="bg-img-natural">
      <div class="frases-home padding-16">
        <p>Anatomía de nuestrxs cuerpxs</p>
        <p>Alternativas para la salud</p>
      </div>

<!-- Valores -->
      
      <div class="bg-crema-b padding-24">
        <div class="margin-bottom-48">
          <h2 class="tx-verde-musgo">
            Nuestro compromiso con vos y el medio ambiente
          </h2>
          <p class="tx-verde-musgo tx-14">Estamos comprometidos con reducir nuestro impacto medio ambiental.
          Cada compra contribuye a proteger la naturaleza.</p>
        </div>
        <div class="valores-flex ">
          <div class=" selec-wrapper-30">
            <div class="valores">
              <i class="fab fa-pagelines"></i>
              <p>Tinturas madre y microdosis</p>
              <p class="tx-14 text-left">Traemos la naturaleza a tu vida. En Selvaviva queremos ayudarte a reconectar con ella y que disfrutes transformando cualquier espacio en algo mágico.</p>
            </div>
          </div>
          <div class=" selec-wrapper-30">
            <div class="valores">
              <i class="fas fa-air-freshener"></i>
              <p>Cosmética natural y vegana</p>
              <p class="tx-14 text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat velit vel atque nihil natus, veniam, mollitia quisquam labore voluptatibus at pariatur !</p>
            </div>
          </div>
          <div class=" selec-wrapper-30">
            <div class="valores">
              <i class="fas fa-globe-americas"></i>
              <p>Cuidado del medio ambiente</p>
              <p class="tx-14 text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet eius in reiciendis dolores voluptas iusto est adipisci doloremque incidunt numquam !</p>
            </div>
          </div>
        </div>
      </div>

<!-- Incluir partial de product que tenga categoría destacado que pueda ir rotando-->

      <div>
        <h2 class="text-center tx-negro">Productos destacados</h2>
        <div class="contenedor-scroll">
          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box box-shadow">
              <img
                src="/images/product-images/crema-humectante-dia.png"
                class=" img-dest"
              />
              <div class="padding-8">
                <p class="tx-12">Producto 1</p>
                <p class="tx-12">$12.99</p>
                <div>
                  <button class=" boton-agregar tx-blanco bg-cuidadopiel-oscuro border-button w-100">Agregar</button>
                </div>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25 margin-left">
            <article class="box box-shadow">
              <img
                src="/images/product-images/shampoo-seco.jpg"
                class=" img-dest"
              />
              <div class="padding-8">
                <p class="tx-12">Producto 2</p>
                <p class="tx-12">$9.99</p>
                <div>
                  <button class=" boton-agregar tx-blanco bg-cuidadopiel-oscuro border-button w-100">Agregar</button>
                </div>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25 margin-left">
            <article class="box box-shadow">
              <img
                src="/images/product-images/shampoo-rulos.jpg"
                class=" img-dest"
              />
              <div class="padding-8">
                <p class="tx-12">Producto 3</p>
                <p class="tx-12">$17.99</p>
                <div>
                  <button class=" boton-agregar tx-blanco bg-cuidadopiel-oscuro border-button w-100">Agregar</button>
                </div>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25 margin-left">
            <article class="box box-shadow">
              <img
                src="/images/product-images/pasta-dental.png"
                class=" img-dest"
              />
              <div class="padding-8">
                <p class="tx-12">Producto 4</p>
                <p class="tx-12">$15.99</p>
                <div>
                  <button class=" boton-agregar tx-blanco bg-cuidadopiel-oscuro border-button w-100">Agregar</button>
                </div>
              </div>
            </article>
          </div>
        
            
          </article>
         </div>
        </div>
        </div>
      </section>

      <!--Filosofía-->
            <section>
              <div class="index-filo bg-verde-musgo">
                <div class="filo-wrapper padding-48">
                  <h2 class="text-center tx-blanco">Filosofía Hampi</h2>
                  <p class="tx-blanco text-center interlineado-18">
                    Este proyecto nace con la idea de poder devolverle a este mundo una forma sana de reencontrarnos con nuestras
                    memorias ancestrales a través de las plantas medicinales que la Pachamama nos regala.
                  </p>
                  <a href="../filosofia">
                    <button class=" boton-filo tx-blanco bg-crema  w-100">Descubrí más sobre
                      nosotrxs</button>
                  </a>
                </div>
              </div>
            </section>

            <!---->
      <section>
        <div class="content-medicine">
        <img src="/images/background/hampihome.jpg" class="img-medicina">
        <div class="padding-48 tx-14 tx-medicine ">
          <h3 class="tx-20">Las plantas y sus propiedades</h3>
          <p>La fitoterapia consiste en el tratamiento médico de algunas enfermedades basado en el empleo de plantas y sustancias
          vegetales, y se practica desde hace más de 7.000 años. Para curar una gripe, para aliviar el estrés,
          descasar mejor por la noche, "a veces sólo tenemos que dejar cuidarnos por la naturaleza".</p>
          <a href="../fitoterapia">
          <button class="  tx-blanco bg-cuidadopiel-oscuro border-button boton-agregar w-100">Leer más sobre sus propiedades</button>
           </a>
        </div>
        </div>
      </section>
      <section>
        <div class="content-gift">
          <img src="/images/background/regala.jpg" class="img-medicina">
          <div class="padding-48 tx-14 tx-medicine ">
            <h3 class="tx-20">Regalá Hampi y sumate al cambio</h3>
            <p>Las plantas de interior son una apuesta segura para sacar sonrisas y celebrar cualquier ocasión. 
            Sorprende a esa persona especial con un regalo que durará toda la vida</p>
            <a href="../products">
              <button class="tx-blanco bg-cuidadopiel-oscuro border-button w-100  boton-agregar">Ver productos</button>
            </a>
          </div>
        </div>
      </section>

      <!--Newsletter-->
            <section>
              <div class="bg-img-medicina">
                <div class="tx-medicine padding-48 tx-20 tx-blanco text-left">
                  <p>Bienvenidx a nuestra familia!</p>
                  <small>Sé la/el primerx en enterarte de todas nuestras novedades, ofertas y los mejores consejos para el cuidado de tu salud</small>
                  <form action="/" method="POST" class="margin-top-16">
                    <input name="newsletter" id="newsletter" type="email"></input>
                  </form>
                  <a href="#">
                  <button class="boton-contact tx-blanco bg-verde-musgo">Suscribite :)</button>
                  </a>
                </div>
              </div>
            </section>
    </main>

    <!--Acá va el footer-->
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
