<!DOCTYPE html>
<html lang="en">

<!--Acá va el head-->
<%- include ("../parcials/head.ejs") %>
<body class="body">

   <!--Acá va el header-->
   <%- include ("../parcials/header.ejs") %>

<main id="main-content">
    <section>
    <article class="detalle-producto">

        <div class= "flex-prod">
        <div class="img-pd">
        <img src="/img/prod5.jpg" width="100%" />
        </div>

        <div class="texto-pd">
        <p>Producto 1</p>
        <p>$12.99</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quis
            inventore dolorum sit officia est porro, possimus laboriosam pariatur
            explicabo numquam beatae magnam hic impedit placeat illum culpa
            incidunt mollitia?
        </p>    
        <button class="boton-cantidad-product">- 1 +</button>
        <button class="boton-añadir">Añadir al carrito</button>
        </div>
        </div>

    </article>
    </section>


    <section>
    <h3 class="titulo-otros">Podés combinarlo con...</h3>
    
        <div class="contenedor-scroll">
        <div class="card">
    <article>  
        <img src="/img/prod6.jpg" width="100%" />

        <div class="contenedor">
        <p class="prod">Producto 1</p>
        <p class="price">$12.99</p>
        </div>
        <button class="boton-añadir-op">Añadir al carrito</button>
        <button class="boton-cantidad-op">- 1 +</button>
    
    </article>
        </div>

        <div class="card">
    <article>
        <img src="/img/prod7.jpg" width="100%" />
        <div class="contenedor">
            <p class="prod">Producto 1</p>
            <p class="price">$12.99</p>
        </div>
        <button class="boton-añadir-op">Añadir al carrito</button>
        <button class="boton-cantidad-op">- 1 +</button>
    </article>
        </div>

        <div class="card">
    <article>
        <img src="/img/prod8.jpg" width="100%" />
        <div class="contenedor">
            <p class="prod">Producto 1</p>
            <p class="price">$12.99</p>
        </div>
        <button class="boton-añadir-op">Añadir al carrito</button>
        <button class="boton-cantidad-op">- 1 +</button>
    </article>
    </div>

    <div class="card">
    <article>
        <img src="/img/prod9.jpg" width="100%" />
        <div class="contenedor">
            <p class="prod">Producto 1</p>
            <p class="price">$12.99</p>
        </div>
        <button class="boton-añadir-op">Añadir al carrito</button>
        <button class="boton-cantidad-op">- 1 +</button>
    </article>

    </div>
    </div>
    </div>
    </section>
    
    <!--Acá va el footer-->
    <%- include ("../parcials/footer.ejs") %>


</body>

</html>