<!DOCTYPE html>
<html lang="en">
    <!--Acá va el head-->
    <%- include ("./partials/head.ejs") %>

    <body class="body">
        <!--Acá va el header-->
        <%- include ("./partials/header.ejs") %>

        <main id="main-content">
            <section class="margin-top" >
                <h2 class="text-center">Filosofía Hampi</h2>
                    <div class="text-center">
                    <img class="secciones" src="/images/filo1.jpg" alt="somos hampi" width="100%" />
                    <div class="padding-16">
                        <p class="filohampi">Hampi Yura significa "Planta Medicinal" en Quechua. </br></br>
                        Este proyecto nace con la idea de poder devolverle a este mundo una forma sana de reencontrarnos con nuestras memorias
                        ancestrales a través de las plantas medicinales que la Pachamama nos regala. </br>                
                    </p>
                    </div>
                </div>
            </section>
        </main>

        <!--Acá va el footer-->
        <%- include ("./partials/footer.ejs") %>
    </body>
</html>
