<!DOCTYPE html>
<html lang="en">
  <!--Acá va el head-->

  <%- include ("./partials/head.ejs") %>

  <body class="body">
    <!--Acá va el header-->

    <%- include ("./partials/header.ejs") %>

    <main id="main-content">

    <!--Sección 3 secciones: productos, fitoterapia, filosofia-->
      <section class="margin-top-16">
        <div class="selec-flex">
          <div class="selec-wrapper">
            <a href="/products">
              <img
                class="secciones"
                src="/images/productos.png"
                alt="Descubre los productos Hampi Yura"
                width="100%"
              />
            </a>
          </div>
          <div class="selec-wrapper">
            <a href="/fitoterapia">
              <img
                class="secciones"
                src="/images/fito.png"
                alt="Fitoterapia"
                width="100%"
              />
            </a>
          </div>
          <div class="selec-wrapper">
            <a href="/infoplantas">
              <img
                class="secciones"
                src="/images/infoplantas.png"
                alt="Descubre las propiedades de las plantas que usamos"
                width="100%"
              />
            </a>
          </div>
        </div>
      </section>

<section class="bg-img-natural">
      <div class="frases-home padding-16">
        <p>Anatomía de nuestrxs cuerpxs</p>
        <p>Alternativas para la salud</p>
      </div>

<!-- Valores -->
      
      <div>
        <div class="text-center padding-24">
          <h2>
            Nuestro compromiso con vos y el medio ambiente
          </h2>
          <p class="tx-higiene-oscuro tx-14">Estamos comprometidos con reducir nuestro impacto medio ambiental.
          Cada compra contribuye a proteger la naturaleza.</p>
        </div>
        <div class="valores-flex bg-crema-b">
          <div class="text-center selec-wrapper-30">
            <div class="valores">
              <i class="fab fa-pagelines"></i>
              <p>Tinturas madre</p>
              <p class="tx-14">Traemos la naturaleza a tu vida. 
              En Selvaviva queremos ayudarte a reconectar con ella y que disfrutes transformando
              cualquier espacio en algo mágico.En Selvaviva queremos ayudarte a reconectar con ella y que disfrutes transformando
              cualquier espacio en algo mágico.</p>
            </div>
          </div>
          <div class="text-center selec-wrapper-30">
            <div class="valores">
              <i class="fas fa-air-freshener"></i>
              <p>Cosmética natural y vegana</p>
              <p class="tx-14">Traemos la naturaleza a tu vida.
                En Selvaviva queremos ayudarte a reconectar con ella y que disfrutes transformando
                cualquier espacio en algo mágico. En Selvaviva queremos ayudarte a reconectar con ella y que disfrutes transformando
                cualquier espacio en algo mágico.</p>
            </div>
          </div>
          <div class="text-center selec-wrapper-30">
            <div class="valores">
              <i class="fas fa-globe-americas"></i>
              <p>Cuidado del medio ambiente</p>
              <p class="tx-14">Traemos la naturaleza a tu vida.
                En Selvaviva queremos ayudarte a reconectar con ella y que disfrutes transformando
                cualquier espacio en algo mágico. En Selvaviva queremos ayudarte a reconectar con ella y que disfrutes transformando
                cualquier espacio en algo mágico.</p>
            </div>
          </div>
        </div>
      </div>

<!-- Incluir partial de product que tenga categoría destacado que pueda ir rotando-->

      <div>
        <h2 class="text-center tx-todo-oscuro">Productos destacados</h2>
        <div class="contenedor-scroll">
          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box box-shadow">
              <img
                src="/images/product-images/crema-humectante-dia.png"
                class="border-top-8 img-dest"
              />
              <div class="padding-8">
                <p class="tx-12">Producto 1</p>
                <p class="tx-12">$12.99</p>
                <div>
                  <button class="border-5 boton-agregar tx-blanco bg-todo-oscuro border-button w-100">Agregar</button>
                </div>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25 margin-left">
            <article class="box box-shadow">
              <img
                src="/images/product-images/shampoo-seco.jpg"
                class="border-top-8 img-dest"
              />
              <div class="padding-8">
                <p class="tx-12">Producto 2</p>
                <p class="tx-12">$9.99</p>
                <div>
                  <button class="border-5 boton-agregar tx-blanco bg-todo-oscuro border-button w-100">Agregar</button>
                </div>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25 margin-left">
            <article class="box box-shadow">
              <img
                src="/images/product-images/shampoo-rulos.jpg"
                class="border-top-8 img-dest"
              />
              <div class="padding-8">
                <p class="tx-12">Producto 3</p>
                <p class="tx-12">$17.99</p>
                <div>
                  <button class="border-5 boton-filo tx-blanco bg-todo-oscuro border-button w-100">Agregar</button>
                </div>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25 margin-left">
            <article class="box box-shadow">
              <img
                src="/images/product-images/pasta-dental.png"
                class="border-top-8 img-dest"
              />
              <div class="padding-8">
                <p class="tx-12">Producto 4</p>
                <p class="tx-12">$15.99</p>
                <div>
                  <button class="border-5 boton-agregar tx-blanco bg-todo-oscuro border-button w-100">Agregar</button>
                </div>
              </div>
            </article>
          </div>
        
            
          </article>
         </div>
        </div>
        </div>
      </section>
            <section>
              <div class="index-filo">
                <div class="filo-wrapper">
                  <h2 class="text-center tx-blanco">Filosofía Hampi</h2>
                  <p class="tx-blanco text-center interlineado-18">
                    Este proyecto nace con la idea de poder devolverle a este mundo una forma sana de reencontrarnos con nuestras
                    memorias ancestrales a través de las plantas medicinales que la Pachamama nos regala.
                  </p>
                  <a href="../filosofia">
                    <button class="border-5 boton-filo tx-blanco bg-higiene-claro border-button w-100">Descubrí más sobre
                      nosotrxs</button>
                  </a>
                </div>
              </div>
            </section>
      <section>
        <div>
        <img src="/images/background/hampihome.jpg" class="img-medicina">
        <div class="padding-16 tx-14">
          <h3 class="tx-20">Las plantas y sus propiedades</h3>
          <p>La fitoterapia consiste en el tratamiento médico de algunas enfermedades basado en el empleo de plantas y sustancias
          vegetales, y se practica desde hace más de 7.000 años. Para curar una gripe, para aliviar el estrés, para adelgazar o
          descasar mejor por la noche, "a veces sólo tenemos que dejar cuidarnos por la naturaleza".</p>
        </div>
        </div>
      </section>


            <section>
              <div>
                <img src="/images/background/plantmedicine.jpg" class="img-medicina">
                <div class="padding-16 tx-14">
                  <p>Bienvenidx a nuestra familia!</p>
                  <p>Sé la/el primerx en enterarte de todas nuestras novedades, ofertas y los mejores consejos para el cuidado de tu salud</p>
                  <a href="../contacto">
                  <button class="border-5 boton-filo tx-blanco bg-higiene-claro border-button w-100">Contacto</button>
                  </a>
                </div>
              </div>
            </section>
    </main>

    <!--Acá va el footer-->
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
