<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home-Hampi Yura</title>

    <link rel="stylesheet" href="\css\styles.css" />
    <link
      rel="stylesheet"
      href="\css\styles-tablet.css"
      media="(min-width:480px)"
    />
    <link
      rel="stylesheet"
      href="\css\styles-laptop.css"
      media="(min-width:768px)"
    />
    <link
      rel="stylesheet"
      href="\css\styles-desktop.css"
      media="(min-width:1280"
    />
    <link rel="stylesheet" href="\css\normalize.css" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Preguntar por orden de archivos de estilo -->
  </head>

  <body>
    <header class="bg-higiene-oscuro">
      <a href="#" class="icon-burger">
        <i class="fas fa-bars"></i>
      </a>
      <img class="logo-hy" src="/img/logo1.png" alt="Logo Hampi Yura" />
      <i class="far fa-smile"></i>
    </header>

    <main id="main-content">
      <section>
        <img
          class="secciones"
          src="/img/productos.png"
          alt="Descubre los productos Hampi Yura"
          width="100%"
        />
        <img
          class="secciones"
          src="/img/fito.png"
          alt="Fitoterapia"
          width="100%"
        />
        <img
          class="secciones"
          src="/img/infoplantas.png"
          alt="Descubre las propiedades de las plantas que usamos"
          width="100%"
        />
      </section>

      <section class="frases-home">
        <p>Anatomía de nuestrxs cuerpxs</p>
        <p>Alternativas para la salud</p>
      </section>

      <section>
        <div class="valores">
          <i class="fab fa-pagelines"></i> Tinturas madre
        </div>
        <div class="valores">
          <i class="fas fa-air-freshener"></i> Cosmética natural y vegana
        </div>
        <div class="valores">
          <i class="fas fa-globe-americas"></i> Cuidado del medio ambiente
        </div>
      </section>

      <section>
        <article class="box-shadow">
          <img src="/img/prod1.png" width="100%" />
          <p>Producto 1</p>
          <p>$12.99</p>
        </article>
        <article class="box-shadow">
          <img src="/img/prod2.png" width="100%" />
          <p>Producto 2</p>
          <p>$9.99</p>
        </article>
        <article class="box-shadow">
          <img src="/img/prod3.png" width="100%" />
          <p>Producto 3</p>
          <p>$17.99</p>
        </article>
        <article class="box-shadow">
          <img src="/img/prod4.png" width="100%" />
          <p>Producto 4</p>
          <p>$15.99</p>
        </article>
      </section>

      <section>
        <img
          class="filosofia"
          src="/img/filosofia.png"
          alt="Logo Hampi Yura"
          width="100%"
        />
        <h2>Filosofía Hampi</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quis
          inventore dolorum sit officia est porro, possimus laboriosam pariatur
          explicabo numquam beatae magnam hic impedit placeat illum culpa
          incidunt mollitia?
        </p>
        <button class="boton-filo">Descubrí más sobre nosotrxs</button>
      </section>
    </main>

    <footer class="bg-higiene-oscuro">
      <i class="fab fa-instagram"></i>
      <img class="logo-hy" src="/img/logo1.png" alt="Logo Hampi Yura" />
      <p class="tx-blanco">Contactanos</p>
    </footer>
  </body>
</html>
