<!DOCTYPE html>
<html lang="en">
  <!--Acá va el head-->

  <%- include ("./partials/head.ejs") %>

  <body class="body">
    <!--Acá va el header-->

    <%- include ("./partials/header.ejs") %>

    <main id="main-content">
      <section class="margin-top-16">
        <div class="selec-flex">
          <div class="selec-wrapper">
            <a href="/products">
              <img
                class="secciones"
                src="/images/productos.png"
                alt="Descubre los productos Hampi Yura"
                width="100%"
              />
            </a>
          </div>
          <div class="selec-wrapper">
            <a href="/fitoterapia">
              <img
                class="secciones"
                src="/images/fito.png"
                alt="Fitoterapia"
                width="100%"
              />
            </a>
          </div>
          <div class="selec-wrapper">
            <a href="/infoplantas">
              <img
                class="secciones"
                src="/images/infoplantas.png"
                alt="Descubre las propiedades de las plantas que usamos"
                width="100%"
              />
            </a>
          </div>
        </div>
      </section>

      <section class="frases-home">
        <p>Anatomía de nuestrxs cuerpxs</p>
        <p>Alternativas para la salud</p>
      </section>

      <section class="margin-top-48 margin-bottom-48">
        <div class="text-center ">
          <h2 >
            Estos son nuestro compromiso con vos y con el medio ambiente.
          </h2>
        </div>
        <div class="valores-flex">
          <div class="text-center selec-wrapper-30">
            <div class="valores">
              <i class="fab fa-pagelines"></i>
              <p>Tinturas madre</p>
            </div>
          </div>
          <div class="text-center selec-wrapper-30">
            <div class="valores">
              <i class="fas fa-air-freshener"></i>
              <p>Cosmética natural y vegana</p>
            </div>
          </div>
          <div class="text-center selec-wrapper-30">
            <div class="valores">
              <i class="fas fa-globe-americas"></i>
              <p>Cuidado del medio ambiente</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Incluir partial de product-->

      <section>
        <h2 class="text-center">Productos destacados</h2>
        <div class="flex justify-between">
          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box box-shadow">
              <img
                src="/images/product-images/crema-humectante-dia.png"
                class="border-top-8 img-dest"
              />
              <div class="padding-16">
                <p>Producto 1</p>
                <p>$12.99</p>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box box-shadow">
              <img
                src="/images/product-images/shampoo-seco.jpg"
                class="border-top-8 img-dest"
              />
              <div class="padding-16">
                <p>Producto 2</p>
                <p>$9.99</p>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box box-shadow">
              <img
                src="/images/product-images/shampoo-rulos.jpg"
                class="border-top-8 img-dest"
              />
              <div class="padding-16">
                <p>Producto 3</p>
                <p>$17.99</p>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box box-shadow">
              <img
                src="/images/product-images/pasta-dental.png"
                class="border-top-8 img-dest"
              />
              <div class="padding-16">
                <p>Producto 4</p>
                <p>$15.99</p>
              </div>
            </article>
          </div>
        </div>
      </section>

      <section >
        <div class="index-filo">
          <div class="filo-wrapper ">
            <h2 class= "text-center tx-blanco">Filosofía Hampi</h2>
            <p class="tx-blanco text-center interlineado-18">
              Este proyecto nace con la idea de poder devolverle a este mundo una forma sana de reencontrarnos con nuestras memorias ancestrales a través de las plantas medicinales que la Pachamama nos regala. 
            </p>
            <a href="../filosofia">
              <button class="boton-filo tx-blanco bg-higiene-claro border-button">Descubrí más sobre nosotrxs</button>
            </a>
          </div>
        </div>
      </section>
    </main>

    <!--Acá va el footer-->
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
