<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="\css\styles.css" />
        <link
            rel="stylesheet"
            href="\css\styles-tablet.css"
            media="(min-width:480px)"
        />
        <link
            rel="stylesheet"
            href="\css\styles-laptop.css"
            media="(min-width:768px)"
        />
        <link
            rel="stylesheet"
            href="\css\styles-desktop.css"
            media="(min-width:1280px"
        />
        <link rel="stylesheet" href="\css\normalize.css" />

        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
    </head>

    <body class="body">
        <header class="bg-higiene-oscuro">
            <a href="#" class="icon-burger">
                <i class="fas fa-bars"></i>
            </a>
            <img class="logo-hy" src="/img/logo1.png" alt="Logo Hampi Yura" />
            <i class="far fa-smile"></i>

            <nav id="main-nav">
                <ul>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/fitoterapia">Fitoterapia</a></li>
                    <li><a href="/filosofia">Filosofia Hampi</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <div>
                    <form
                        class="register-form"
                        action="/ruta-form"
                        method="POST"
                    >
                        <div>
                            <h2>Ingresar</h2>
                        </div>

                        <div class="form-input">
                            <label class="main-label" for="email"
                                >Dirección de email</label
                            >
                            <input id="email" type="email" name="email" />
                            <p class="required-message">campo obligatorio</p>
                        </div>
                        <div class="form-input">
                            <label class="main-label" for="pasword"
                                >Contraseña</label
                            >
                            <input
                                id="password"
                                type="password"
                                name="pasword"
                            />
                            <p class="required-message">campo obligatorio</p>
                        </div>

                        <div class="register-buttons">
                            <button class="boton-form" type="submit">
                                Ingresar
                            </button>
                        </div>
                        <div>
                            <p>
                                Aun no tenes una cuenta?
                                <a href="#">Crear una</a>
                            </p>
                        </div>
                    </form>
                </div>
            </section>
        </main>

        <footer class="bg-higiene-oscuro">
            <i class="fab fa-instagram"></i>
            <img class="logo-hy" src="/img/logo1.png" alt="Logo Hampi Yura" />
            <p class="tx-blanco">Contactanos</p>
        </footer>
    </body>
</html>
