<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Detalle de producto-Hampi Yura</title>

    <link rel="stylesheet" href="\css\styles.css" />
    <link rel="stylesheet" href="\css\styles-tablet.css" media="(min-width:480px)" />
    <link rel="stylesheet" href="\css\styles-laptop.css" media="(min-width:768px)" />
    <link rel="stylesheet" href="\css\styles-desktop.css" media="(min-width:1280)" />
    <link rel="stylesheet" href="\css\normalize.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

 
</head>

<body class="body">

    <header class="bg-higiene-oscuro">
            <a href="#" class="icon-burger">
                <i class="fas fa-bars"></i>
            </a>
            <img class="logo-hy" src="/img/logo1.png" alt="Logo Hampi Yura" />
            <i class="far fa-smile"></i>

            <nav id="main-nav">
                <ul>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/fitoterapia">Fitoterapia</a></li>
                    <li><a href="/filosofia">Filosofia Hampi</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </header>

<main id="main-content">
    <section>
    <article class="detalle-producto">

        <div class= "flex-prod">
        <div class="img-pd">
        <img src="/img/prod5.jpg" width="100%" />
        </div>

        <div class="texto-pd">
        <p>Producto 1</p>
        <p>$12.99</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quis
            inventore dolorum sit officia est porro, possimus laboriosam pariatur
            explicabo numquam beatae magnam hic impedit placeat illum culpa
            incidunt mollitia?
        </p>    
        <button class="boton-cantidad-product">- 1 +</button>
        <button class="boton-añadir">Añadir al carrito</button>
        </div>
        </div>

    </article>
    </section>


    <section>
    <h3 class="titulo-otros">Podès combinarlo con...</h3>
    
        <div class="contenedor-scroll">
        <div class="card">
    <article>  
        <img src="/img/prod6.jpg" width="100%" />

        <div class="contenedor">
        <p class="prod">Producto 1</p>
        <p class="price">$12.99</p>
        </div>
        <button class="boton-añadir-op">Añadir al carrito</button>
        <button class="boton-cantidad-op">- 1 +</button>
    
    </article>
        </div>

        <div class="card">
    <article>
        <img src="/img/prod7.jpg" width="100%" />
        <div class="contenedor">
            <p class="prod">Producto 1</p>
            <p class="price">$12.99</p>
        </div>
        <button class="boton-añadir-op">Añadir al carrito</button>
        <button class="boton-cantidad-op">- 1 +</button>
    </article>
        </div>

        <div class="card">
    <article>
        <img src="/img/prod8.jpg" width="100%" />
        <div class="contenedor">
            <p class="prod">Producto 1</p>
            <p class="price">$12.99</p>
        </div>
        <button class="boton-añadir-op">Añadir al carrito</button>
        <button class="boton-cantidad-op">- 1 +</button>
    </article>
    </div>

    <div class="card">
    <article>
        <img src="/img/prod9.jpg" width="100%" />
        <div class="contenedor">
            <p class="prod">Producto 1</p>
            <p class="price">$12.99</p>
        </div>
        <button class="boton-añadir-op">Añadir al carrito</button>
        <button class="boton-cantidad-op">- 1 +</button>
    </article>

    </div>
    </div>
    </div>
    </section>
    
    <footer class="bg-higiene-oscuro">
        <i class="fab fa-instagram"></i>
        <img class="logo-hy" src="/img/logo1.png" alt="Logo Hampi Yura" />
        <p class="tx-blanco">Contactanos</p>
    </footer>


</body>

</html>