<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Carrito de compras</title>
    
    <link rel="stylesheet" href="\css\styles.css" />
    <link rel="stylesheet" href="\css\styles-tablet.css" media="(min-width:480px)" />
    <link rel="stylesheet" href="\css\styles-laptop.css" media="(min-width:768px)" />
    <link rel="stylesheet" href="\css\styles-desktop.css" media="(min-width:1280)" />
    <link rel="stylesheet" href="\css\normalize.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header class="bg-higiene-oscuro">
        <a href="#" class="icon-burger">
            <i class="fas fa-bars"></i>
        </a>
        <img class="logo-hy" src="/img/logo1.png" alt="Logo Hampi Yura" />
        <i class="far fa-smile"></i>
    </header>

    <main id="main-content">
        <section>
            <article class="producto-compra">
                <div class="producto-imagen">
                <img src="/img/prod5.jpg" width="100%"/>
                </div>
                
                <div class="producto-detalle">
                <p>Producto 1</p>
                <p>$12.99</p>
                <button class="boton-cantidad">- 1 +</button>
                <button class="boton-eliminar">Eliminar</button>
                </div>
            </article>

            <p class="parrafo-nota">Añade una dedicatoria o nota para que nuestro equipo lo
            tenga en cuenta al momento de preparar tu pedido</p>
                <form action="/productCart" method=POST>
                    <label for="nota"></label>
                    <textarea name="nota" id="nota"></textarea>
                </form>
            

            <button class="boton-finalizar">FINALIZAR COMPRA</button>
        </section>
</main>
    <footer class="bg-higiene-oscuro">
        <i class="fab fa-instagram"></i>
        <img class="logo-hy" src="/img/logo1.png" alt="Logo Hampi Yura" />
        <p class="tx-blanco">Contactanos</p>
    </footer>
</body>

</html>