/* header */
.icon-burger {
    display: none;
}

#main-nav {
    display: flex;
}

#main-nav ul {
    display: flex;
}

#main-nav li {
    margin: auto;
    width: 100px;
    text-align: center;
    font-size: 14px;
    list-style: none;
    font-weight: bold;
}

#main-nav li a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: #3d5f2b;
    opacity: 0.3;
}

/* Detalle de producto */
.otros-productos {
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
}

.product-wrapper {
    width: 100%;
}

.price{
    width: 20%;
    padding-left: 30%;
}

.prod{
    padding-left: 5%;
}

.boton-cantidad-op{
    width: 30%;
    margin-left: 5%;
}

.boton-añadir-op{
    width:50%;
    margin-left: 10px;
    padding: 5px;
}

/* Detalle de compra */
.producto-detalle {
    width: 20%;
}

.prod-cart{
    font-size: 16px;
}

.price-cart{
    font-size: 16px;
}

.boton-cantidad-cart{
    width: 90%;
    padding: 5%;
}

.boton-eliminar{
    width: 100%;
    padding: 5%;
    font-size: 16px;
}

/* Barbi */
.valores-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.valores-wrapper {
    position: relative;
}

.valores p {
    text-align: center;
}

.valores i {
    position: absolute;
}

/* Filosofia Hampi */

.filo-wrapper {
    width: 50%;
}

.boton-filo {
    position: absolute;
}

/* forms */

.register-form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.register-input {
    max-width: 100%;
}
.main-label {
    padding: 10px 0;
    text-align: left;
}
.form-input {
    width: 70%;
    text-align: center;
}
.form-input .main-label {
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.form-input input {
    width: 100%;
    border-radius: 3%;
    border: solid rgb(77, 68, 68);
}
.form-input input[type="checkbox"],
.form-input input[type="radio"] {
    width: auto;
    margin-bottom: 10px;
}
.required-message {
    margin-top: 0;
    color: red;
    font-size: 8px;
    text-align: left;
}

.register-he_leido {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 10px 0;
}
.register-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
