* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

header {
  /*height: 130px;*/
  justify-content: space-around;
  margin: 0 auto;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 24px 24px 24px 24px;
}

.logo-hy {
  width: 150px;
}

.icon-burger {
  font-size: 24px;
  color: whitesmoke;
}

.fa-smile {
  font-size: 24px;
  color: whitesmoke;
}

#main-content {
  margin-top: 150px;
}

#main-nav {
  display: none;
}

.secciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 16px;
  margin: 0 auto;
}

.frases-home {
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  font-style: italic;
  text-align: center;
  margin: 16px;
}

.fa-pagelines,
.fa-air-freshener,
.fa-globe-americas {
  font-size: 24px;
}

.valores {
  padding: 5%;
}

.product-wrapper {
  padding: 16px;
}

.filo-wrapper {
  padding: 16px;
  /*
  position: relative;
  */
}

.contenido-producto {
  padding: 16px;
  position: relative;
}

article {
  margin-bottom: 16px;
}

.boton-filo {
  font-size: 14px;
  color: white;
  background-color: #84c3c3;
  display: block;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 16px auto;
  border: #84c3c3;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.fa-instagram {
  font-size: 24px;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.box-shadow {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  border-radius: 8px;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.padding-16 {
  padding: 16px;
}

.padding-24 {
  padding: 24px;
}

.padding-48 {
  padding: 48px;
}

.w-30 {
  width: 30%;
}
.w-70 {
  width: 70%;
}
.w-100 {
  width: 100%;
}

.hide {
  display: none;
}

.margin-0 {
  margin: 0px;
}

.margin-auto {
  margin: auto;
}

.margin-top {
  margin-top: 16px;
}

.border-top-8 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.border-5 {
  border-radius: 5px;
}

.border-8 {
  border-radius: 8px;
}
