.icon-burger {
  display: none;
}

/* Detalle de producto */
.otros-productos {
  width: 20%;
}

.img-pd{
  width: 80%;
  margin: auto;
}

.texto-pd{
  width: 70%;
  margin: auto;
}

/* Barbi */
.selec-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.selec-wrapper {
  width: 30%;
}
