/* Detalle de producto */
.otros-productos{
  width: 40%;
}

.product-wrapper{
    display: flex;
    flex-wrap: wrap;
}

/* Carrito de compras */
.boton-finalizar{
  width: 40%;
  margin-left: 30%;
}