.icon-burger {
  display: none;
}

/* Detalle de producto */

.flex-prod{
  display: flex;
  flex-wrap: wrap;
}

.img-pd{
  width: 50%;
}

.texto-pd{
  width: 50%;
  padding-left: 10%;
}

.otros-productos {
  width: 20%;
}

.price{
    padding-left: 15%;
}

.prod{
    padding-left: 25%;
}

.boton-cantidad-op{
    display: none;
}

.boton-añadir-op{
    width:80%;
    margin-left: 10%;
}



/* Barbi */
.selec-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.selec-wrapper {
  width: 30%;
}
