/* header */
.icon-burger{
  display: none;
}

#main-nav{
  display:flex;
  justify-content: space-between;
  margin-right: 7%;
}

#main-nav ul{
  display: flex;
}

#main-nav li{
  margin: 0% 20px;
  font-size: 14px;
  list-style: none;
  font-weight: bold;
}

#main-nav li a {
  text-decoration: none;
  color: white;
}

#main-nav a :hover{
  background-color: black;
  text-decoration: underline;
}

/* Detalle de producto */
.otros-productos {
  width: 40%;
}

.product-wrapper {
  width: 50%;
}

/* Carrito de compras */
.boton-finalizar {
  width: 40%;
  margin-left: 30%;
}

/*valores*/

.valores-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.valores-wrapper {
  position: relative;
}

.valores p {
  text-align: center;
}

.valores i {
  position: absolute;
}

/*Filosofía Humpi*/

.filo-wrapper {
  width: 50%;
}

.boton-filo {
  position: absolute;
}
