<!DOCTYPE html>
<html lang="en">
  <!--Acá va el head-->

  <%- include ("../parcials/head.ejs") %>

  <body class="body">
    <!--Acá va el header-->

    <%- include ("../parcials/header.ejs") %>

    <main id="main-content">
      <section class="margin-top">
        <div class="selec-flex">
          <div class="selec-wrapper">
            <img
              class="secciones"
              src="/img/productos.png"
              alt="Descubre los productos Hampi Yura"
              width="100%"
            />
          </div>
          <div class="selec-wrapper">
            <img
              class="secciones"
              src="/img/fito.png"
              alt="Fitoterapia"
              width="100%"
            />
          </div>
          <div class="selec-wrapper">
            <img
              class="secciones"
              src="/img/infoplantas.png"
              alt="Descubre las propiedades de las plantas que usamos"
              width="100%"
            />
          </div>
        </div>
      </section>

      <section class="frases-home">
        <p>Anatomía de nuestrxs cuerpxs</p>
        <p>Alternativas para la salud</p>
      </section>

      <section>
        <div class="valores-flex">
          <div class="valores-wrapper">
            <div class="valores">
              <i class="fab fa-pagelines"></i>
              <p>Tinturas madre</p>
            </div>
          </div>
          <div class="valores-wrapper">
            <div class="valores">
              <i class="fas fa-air-freshener"></i>
              <p>Cosmética natural y vegana</p>
            </div>
          </div>
          <div class="valores-wrapper">
            <div class="valores">
              <i class="fas fa-globe-americas"></i>
              <p>Cuidado del medio ambiente</p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h2>Productos destacados</h2>
        <div class="flex">
          <div class="product-wrapper">
            <article class="box-shadow">
              <img src="/img/prod1.png" width="100%" class="border-top-8" />
              <div class="contenido-producto">
                <p>Producto 1</p>
                <p>$12.99</p>
              </div>
            </article>
          </div>

          <div class="product-wrapper">
            <article class="box-shadow">
              <img src="/img/prod2.png" width="100%" class="border-top-8" />
              <div class="contenido-producto">
                <p>Producto 2</p>
                <p>$9.99</p>
              </div>
            </article>
          </div>

          <div class="product-wrapper">
            <article class="box-shadow">
              <img src="/img/prod3.png" width="100%" class="border-top-8" />
              <div class="contenido-producto">
                <p>Producto 3</p>
                <p>$17.99</p>
              </div>
            </article>
          </div>

          <div class="product-wrapper">
            <article class="box-shadow">
              <img src="/img/prod4.png" width="100%" class="border-top-8" />
              <div class="contenido-producto">
                <p>Producto 4</p>
                <p>$15.99</p>
              </div>
            </article>
          </div>
        </div>
      </section>

      <section>
        <div class="flex">
          <div class="filo-wrapper">
            <!--reemplazar por padding-16-->
            <img src="/img/filosofia.png" alt="Logo Hampi Yura" width="100%" />
          </div>
          <div class="filo-wrapper">
            <!--reemplazar por padding-16-->
            <h2>Filosofía Hampi</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque
              quis inventore dolorum sit officia est porro, possimus laboriosam
              pariatur explicabo numquam beatae magnam hic impedit placeat illum
              culpa incidunt mollitia?
            </p>
            <button class="boton-filo">Descubrí más sobre nosotrxs</button>
          </div>
        </div>
      </section>
    </main>

    <!--Acá va el footer-->
    <%- include ("../parcials/footer.ejs") %>
  </body>
</html>
