<!DOCTYPE html>
<html lang="en">
  <!--Acá va el head-->
  <%- include ("./partials/head.ejs") %>

  <body class="body">
    <!--Acá va el header-->
    <%- include ("./partials/header.ejs") %>

    <main>
      <section id="main-content">
        <div>
          <form class="register-form" action="/user/login" method="POST">
            <div>
              <h2>Ingresar</h2>
            </div>
            <% if (locals.errors) { %> <% for (let error in errors) { %>
            <p><%= errors[error].msg %></p>
            <% } %> <% } %>
            <div class="form-input">
              <label class="main-label" for="email">Dirección de email</label>
              <input class="border-5" id="email" type="email" name="email" />
            </div>
            <div class="form-input">
              <label class="main-label" for="pasword">Contraseña</label>
              <input
                class="border-5"
                id="password"
                type="password"
                name="password"
              />
            </div>

            <div class="register-buttons">
              <button class="boton-form" type="submit">Ingresar</button>
            </div>
            <div>
              <p>
                Aun no tenes una cuenta?
                <a href="/register">Crear una</a>
              </p>
            </div>
          </form>
        </div>
      </section>
    </main>

    <!--Acá va el footer-->
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
