<!DOCTYPE html>
<html lang="en">
  <!--Ac치 va el head-->
  <%- include ("partials/head.ejs") %>

  <body class="body">
    <!--Ac치 va el header-->
    <%- include ("partials/header.ejs") %>

    <main id="main-content">
      <!--Ac치 va el partial de producto-->
      Detalle del producto: <%= product.name %>
    </main>
    <!--Ac치 va el footer-->
    <%- include ("partials/footer.ejs") %>
  </body>
</html>
