<!DOCTYPE html>
<html lang="en">
  <!--Acá va el head-->
  <%- include ("./parcials/head.ejs") %>

  <body class="body">
    <!--Acá va el header-->
    <%- include ("./parcials/header.ejs") %>
    <main id="main-content">
      <section class="padding-24">
        <div>
          <form class="register-form" action="/ruta-form" method="POST">
            <div>
              <h2 class="tx-blanco">Creá tu cuenta</h2>
            </div>

            <div class="form-input">
              <label class="main-label" for="name"></label>
              <input
                class="border-5"
                id="name"
                type="text"
                name="name"
                placeholder="Nombre y apellido"
                required
              />
            </div>
            <div class="form-input">
              <label class="main-label" for="birthdate"></label>
              <input
                class="border-5 bg-blanco"
                id="birthdate"
                type="date"
                name="birthdate"
                placeholder="Fecha de nacimiento"
                required
              />
            </div>
            <div class="form-input">
              <label class="main-label" for="email"></label>
              <input
                class="border-5"
                id="email"
                type="email"
                name="email"
                placeholder="Dirección de email: persona@mail.com"
                required
              />
            </div>
            <div class="form-input">
              <label class="main-label" for="pasword"></label>
              <input
                class="border-5"
                id="password"
                type="password"
                name="pasword"
                placeholder="Contraseña"
                required
              />
            </div>
            <div class="form-input">
              <label class="main-label" for="confirm-pasword"></label>
              <input
                class="border-radius"
                id="confirm-password"
                type="password"
                name="confirm-pasword"
                placeholder="Confirmar contraseña"
                required
              />
              <p class="required-message">Campo obligatorio</p>
            </div>
            <div>
              <p class="register-he_leido tx-blanco">
                <input type="checkbox" value="1" required />
                He leido y acepto el tratamiento de mis datos explicado en la
                politica de privacidad y en los terminos y condiciones
              </p>
            </div>
            <div class="register-buttons">
              <button class="boton-form" type="reset">Borrar</button>
              <button class="boton-form" type="submit">Crear cuenta</button>
            </div>
          </form>
        </div>
      </section>
    </main>

    <!--Acá va el footer-->
    <%- include ("./parcials/footer.ejs") %>
  </body>
</html>
