<!DOCTYPE html>
<html lang="en">
  <!--Ac치 va el head-->
  <%- include ("./partials/head.ejs") %>

  <body class="body">
    <!--Ac치 va el header-->
    <%- include ("./partials/header.ejs") %>

    <main>
      <section id="main-content">
        <div>
          <p>Ac치 va el perfil del usuario</p>
            </div>
          </form>
        </div>
      </section>
    </main>

    <!--Ac치 va el footer-->
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
