<footer class="bg-higiene-oscuro flex padding-16">
  <a href="https://www.instagram.com/hampi_yura/"
    ><i class="fab fa-instagram"></i
  ></a>

  <a href="/"
    ><img class="logo-hy" src="/img/logo1.png" alt="Logo Hampi Yura"
  /></a>

  <p class="tx-blanco">Contactanos</p>
</footer>
