<!DOCTYPE html>
<html lang="en">
  <!--Acá va el head-->
  <body class="body">
    <!--Acá va el header-->>

    <main id="main-content">
      <p>Aquí iráel form para subir productos</p>
    </main>

    <!--Acá va el footer-->>
  </body>
</html>
